.navbar{
	background: var(--3rd);
	height: 70px;
	font-size: 14px;
	color: white;
}

.navbar .navWrapper{
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .nav{
	display: flex;
}

.navbar .nav>div{
	cursor: pointer;
}

.navbar .nav>div+div{
	margin-left:20px;
}

.navbar .logout{
	cursor: pointer;
}

.navbar a{
	text-decoration: none;
	color:white;
}